.page-calendar {
  position: relative;
  padding: 0 0 2em;
  

  
  table {
    $padding : 0.25em;

    th {
      text-align: center;
      padding: $padding;

      &.hovered {
        background: $yellow;
      }
    }

    tbody {
      tr {
        &.hovered {
          td {
            background: $yellow;
          }
        }
      }
    }

    td {
      padding: $padding;

      &.days {
        text-align: center;
      }

      &.hovered {
        background: $yellow;
      }
    }

  }

  .dates {
    text-align: center;

    span {
      cursor: pointer;
      margin: 0 1em;
      color: $main-link-color;
      border-bottom: 1px dashed $main-link-color;

      &:hover {
        border-bottom-color: $white;
      }
    }
  }

  .form-horizontal {

    padding-top: 2em;

     label {
       white-space: nowrap;
     }
  }
}