$em-base: 14px;
$main-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-color: #333;
$main-link-color: #6fbef9;
$secondary-link-color: #657376;

$grey-light:#dbdbdb;
$grey:#ccc;
$green:#8bbe4b;
$green-light : #96cc51;
$green-dark : #6b992e;
$white:#fff;
$yellow: #fff8cf;
$yellow-dark:#e6dfb9;

$sprite: url(../images/ico.png) no-repeat;