<% if(user){%>
  <div class="row">
    <div class="col-sm-10">
      <%if(chat){%>
        <legend><%= chat.name %> Chat</legend>
      <%}else{%>
        <legend>Global Chat</legend>
      <%}%>
      <div class="message-wrapper">
        <ul class="messages-list"></ul>
      </div>
    </div>
    <div class="col-sm-2">
      <legend>Active Users</legend>
      <ul class="users-list"></ul>
    </div>
  </div>

  <form action="" class="message-form row" id="messages-form">
    <div class="col-sm-11">
      <input class="form-control" type="text" value="" placeholder="Login" name="message" id="message">
    </div>
    <input type="submit" value="Send" class="btn btn-default col-sm-1">
  </form>
<%}else{%>
  <div class="not-loged">
    <h2>Welcome to Sails Chat</h2>
    To see chat please login or <a href="/register">register</a>
  </div>
<%}%>
